*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body{
    background: #f1f1f1;
}

ul{
    list-style: none;
    display: flex;
    
}

ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    transition: background-color 0.3s ease;


}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}