*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

:root {
      --color-dark: #1A2F2A;
      --color-accent: #4A7C59;
      --color-light-bg: #F5F0EB;
      --color-light-text: #E8E0D5;
      --color-dark-text: #2C2C2C;
      --color-soft-text: #DDE5D9;
  }

body{
    background: var(--color-light-bg);
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: var(--color-light-text);
}

ul{
    list-style: none;
    display: flex;
    
}

ul li a {
    text-decoration: none;
    color: var(--color-light-text);
    padding: 10px 20px;
    transition: background-color 0.3s ease;


}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: var(--color-dark);
    
}

ul li a:hover{
    background-color: var(--color-accent);
    color: var(--color-dark-text);
    border-radius: 5px;
}

#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-dark);
    color: var(--color-light-text);
    padding: 50px 100px;

}

.hero-content{
    display: flex;
    flex-direction: column;
    
}



.hero-content h1{
    font-size: 48px;
    margin-bottom: 20px;
    color: var(--color-light-text);

}

.hero-content p{
    font-size: 18px;
    margin-bottom: 30px;
    color: var(--color-soft-text);
    width: 800px;
    line-height: 1.5;
}

#see-work
{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--color-accent);
    color: var(--color-light-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 20px;
    width: 100px;
    align-content: center;
     margin-top: 30px;
     margin-left: 0px;
     margin-right: 0px;
     margin-bottom: 0px;
    
    
}

.profile-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid #fff;
    overflow: hidden;
 
}

.profile-pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#social-links{
    display: flex;
    gap: 20px;

    align-self: stretch;
    
}

#social-links a{
    text-decoration: none;
    padding: 0px;
}


#social-links i{
    font-size: 24px;
    color: var(--color-light-text);
    transition: color 0.3s ease;
}
    
 




